:root {
  --dominentColor: #485c48; /* var(--dominentColor) !important; */
  --secondaryColor: #8da58e; /* var(--secondaryColor) !important; */
  --accentColor: #8f708e; /* var(--accentColor) !important; */
}
